*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.temp-secondary {
  text-align: center;
  position: relative;
}

.temp-secondary::after {
  content: '℃';
  position: absolute;
  font-size: 0.8em;
  vertical-align: top;
}
